# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Packages.iml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/Gtlabs.Api/obj
/Gtlabs.Api/bin
/Gtlabs.Api/nupkgs

/Gtlabs.AppRegistration/obj
/Gtlabs.AppRegistration/bin
/Gtlabs.AppRegistration/nupkgs

/Gtlabs.Consul/obj
/Gtlabs.Consul/bin
/Gtlabs.Consul/nupkgs

/Gtlabs.Network/obj
/Gtlabs.Network/bin
/Gtlabs.Network/nupkgs

/Gtlabs.DependencyInjections/obj
/Gtlabs.DependencyInjections/bin
/Gtlabs.DependencyInjections/nupkgs

/Gtlabs.ServiceBus/obj
/Gtlabs.ServiceBus/bin
/Gtlabs.ServiceBus/nupkgs

/Gtlabs.Redis/obj
/Gtlabs.Redis/bin
/Gtlabs.Redis/nupkgs

/Gtlabs.Persistence/obj
/Gtlabs.Persistence/bin
/Gtlabs.Persistence/nupkgs

/Gtlabs.Core/obj
/Gtlabs.Core/bin
/Gtlabs.Core/nupkgs

/Gtlabs.AspNet/obj
/Gtlabs.AspNet/bin
/Gtlabs.AspNet/nupkgs

/Gtlabs.Consts/obj
/Gtlabs.Consts/bin
/Gtlabs.Consts/nupkgs

/Gtlabs.Authentication/obj
/Gtlabs.Authentication/bin
/Gtlabs.Authentication/nupkgs

/Gtlabs.AmbientData/obj
/Gtlabs.AmbientData/bin
/Gtlabs.AmbientData/nupkgs


.idea
publish.txt
Packages.sln.DotSettings.user


